[View in Colaboratory](https://colab.research.google.com/github/lylemp/bwsi_testsets/blob/master/Nearest_Neighbors.ipynb)

# Nearest Neighbors Algorithm for Supervised Learning


Nearest neighbors algorithms (NNAs) are very simple conceptually: to classify a datum with specific feature values, find the data point that has the most similar feature values and put the original datum in that class. NNAs can also be used to predict missing feature values. 

The most common NNA is the k-Nearest Neighbors algorithm where the top *K* nearest neighbors to the query are identified. In most instantiations of k-NNA, classification/prediction is based on a "majority vote" of the k nearest neighbors (ex. if k = 5 and 3 out of the 5 nearest neighbors are class A and 2 are class B, the new data point will be classified as A). In the image below, using k = 1 would yield a class 1 classification while k = 3 would yield class 2.


![alt text](https://cdn-images-1.medium.com/max/1600/0*Sk18h9op6uK9EpT8.)


----

A quick example to illustrate k-NNA:

If we want to classify a car as "cool" or "uncool" using the features *horsepower, number of seats,* and *manual (0) or automatic (1)*, our dataset might look like this:

*   150, 5, 0, uncool (2008 Honda Civic)  
*   320, 5, 0, cool (2011 Dodge Charger)
*   383, 3, 1, cool (1985 Chevy Blazer)
*   210, 7, 0, uncool (2001 Honda Odyssey)

Let's say we're trying to predict whether the 2017 Bugatti Veyron (1500hp, 2 seats, manual: 1) is cool or not. In the next cell the data is loaded.

In [0]:
import numpy as np
import pandas as pd
import math
from scipy.spatial import distance
import random
from numpy.random import permutation
from sklearn.neighbors import KNeighborsRegressor

data = pd.DataFrame({'2008 Honda Civic': [150, 5, 0, 0], '2011 Dodge Charger' : [320, 5, 0, 1],  # 1 = cool, 0 = uncool (4th item in list)
       '1985 Chevy Blazer': [383, 3, 1, 1], '2001 Honda Odyssey': [210, 7, 0,0], '2017 Bugatti Veyron': [1500, 2, 1, None]})

data

,1985 Chevy Blazer,2001 Honda Odyssey,2008 Honda Civic,2011 Dodge Charger,2017 Bugatti Veyron
0,383,210,150,320,1500.0
1,3,7,5,5,2.0
2,1,0,0,0,1.0
3,1,0,0,1,NaN

### Normalizing Data and Calculating Distance

In order to tell how "near" one datum is to another, we need a way to measure the distance between two data. One of the simplest ways to do this (and the way we will be doing it) is with simple Euclidian distance (formula below). Euclidean distance is the square root of the sum of the difference between each feature squared. Some other approaches include Chi square distance and cosine distance (https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4978658/). 

NOTE: By normalizing the data in this way we are assuming all features are equally important, but there are ways to weight some features more/less than others.

If we simply compute the Euclidean distance from one datum to another, values that are generally larger (like horsepower) will end up having a greater effect than the other smaller values. Because features with large values are not inherently more important for prediction than other values, we should normalize the data before we calculate distance. One quick and easy way to normalize data is to divide each datum by the maximum value in its category (i.e. divide each element in a row by the max value in that row).

![alt text](https://i.stack.imgur.com/2y0bx.png.)

In the cells below, fill in the code to normalize the data and create a function that will calculate the euclidean distance between two cars.

In [0]:
# Normalization 

## Normalize the data below by dividing each value by the maximum value in its row. Do not normalize the labels indicating cool and uncool (row 3)

for i in range(3):
  ## Your code here

In [0]:
# Distance Function using formula for euclidean distance

def euclidean_dist(new_datum, other_datum):
  
  ## Your code here
  
  return(distance)

In the cell below, calculate the distance between the Bugatti and each other car using euclidean_dist. Remember not to use row three (cool/uncool label) when computing distance.

In [0]:
## Your code here

You should get the following distances (rounded to the thousandths palce):

Bugatti - Blazer = 0.758

Bugatti - Odyssey = 1.500

Bugatti - Civic = 1.412

Bugatti - Charger = 1.343

Because the distance between the Bugatti and Blazer is the smallest, if k = 1, we would classify the Bugatti as cool. If k = 4 we would not be able to classify the Bugatti in either category using the "majority vote" technique unless we had in place a tiebreaker protocol. Generally speaking, larger values of *k* reduce noise, but also make the boundaries between classes less distinct. The best value of *k* will depend on your dataset and your prediction needs.

# Predicting Diabetes in Pima Heritage Dataset

Next we will see if we can use k-NNA to predict whether or not a patient has diabetes given some medical information about them. Load and view the data in the cell below.

In [0]:
# Data Loading and preprocessing

url = "https://raw.githubusercontent.com/jbrownlee/Datasets/master/pima-indians-diabetes.data.csv"
names = ['preg', 'plas', 'pres', 'skin', 'test', 'mass', 'pedi', 'age', 'class']
data = pd.read_csv(url, names=names)

#  'preg': number of pregnancies  
#  'plas': plasma glucose concentration 
#  'pres': blood pressure 
#  'skin': skin thickness
#  'test': Insulin
#  'mass': BMI
#  'pedi': diabetes pedigree function
#  'age': age
#  'class': '0' means does not have diabetes and '1' means has diabetes

data

     preg  plas  pres  skin  test  mass   pedi  age  class
0       6   148    72    35     0  33.6  0.627   50      1
1       1    85    66    29     0  26.6  0.351   31      0
2       8   183    64     0     0  23.3  0.672   32      1
3       1    89    66    23    94  28.1  0.167   21      0
4       0   137    40    35   168  43.1  2.288   33      1
5       5   116    74     0     0  25.6  0.201   30      0
6       3    78    50    32    88  31.0  0.248   26      1
7      10   115     0     0     0  35.3  0.134   29      0
8       2   197    70    45   543  30.5  0.158   53      1
9       8   125    96     0     0   0.0  0.232   54      1
10      4   110    92     0     0  37.6  0.191   30      0
11     10   168    74     0     0  38.0  0.537   34      1
12     10   139    80     0     0  27.1  1.441   57      0
13      1   189    60    23   846  30.1  0.398   59      1
14      5   166    72    19   175  25.8  0.587   51      1
15      7   100     0     0     0  30.0  0.484   32      1
16      0   118    84    47   230  45.8  0.551   31      1
17      7   107    74     0     0  29.6  0.254   31      1
18      1   103    30    38    83  43.3  0.183   33      0
19      1   115    70    30    96  34.6  0.529   32      1
20      3   126    88    41   235  39.3  0.704   27      0
21      8    99    84     0     0  35.4  0.388   50      0
22      7   196    90     0     0  39.8  0.451   41      1
23      9   119    80    35     0  29.0  0.263   29      1
24     11   143    94    33   146  36.6  0.254   51      1
25     10   125    70    26   115  31.1  0.205   41      1
26      7   147    76     0     0  39.4  0.257   43      1
27      1    97    66    15   140  23.2  0.487   22      0
28     13   145    82    19   110  22.2  0.245   57      0
29      5   117    92     0     0  34.1  0.337   38      0
..    ...   ...   ...   ...   ...   ...    ...  ...    ...
738     2    99    60    17   160  36.6  0.453   21      0
739     1   102    74     0     0  39.5  0.293   42      1
740    11   120    80    37   150  42.3  0.785   48      1
741     3   102    44    20    94  30.8  0.400   26      0
742     1   109    58    18   116  28.5  0.219   22      0
743     9   140    94     0     0  32.7  0.734   45      1
744    13   153    88    37   140  40.6  1.174   39      0
745    12   100    84    33   105  30.0  0.488   46      0
746     1   147    94    41     0  49.3  0.358   27      1
747     1    81    74    41    57  46.3  1.096   32      0
748     3   187    70    22   200  36.4  0.408   36      1
749     6   162    62     0     0  24.3  0.178   50      1
750     4   136    70     0     0  31.2  1.182   22      1
751     1   121    78    39    74  39.0  0.261   28      0
752     3   108    62    24     0  26.0  0.223   25      0
753     0   181    88    44   510  43.3  0.222   26      1
754     8   154    78    32     0  32.4  0.443   45      1
755     1   128    88    39   110  36.5  1.057   37      1
756     7   137    90    41     0  32.0  0.391   39      0
757     0   123    72     0     0  36.3  0.258   52      1
758     1   106    76     0     0  37.5  0.197   26      0
759     6   190    92     0     0  35.5  0.278   66      1
760     2    88    58    26    16  28.4  0.766   22      0
761     9   170    74    31     0  44.0  0.403   43      1
762     9    89    62     0     0  22.5  0.142   33      0
763    10   101    76    48   180  32.9  0.171   63      0
764     2   122    70    27     0  36.8  0.340   27      0
765     5   121    72    23   112  26.2  0.245   30      0
766     1   126    60     0     0  30.1  0.349   47      1
767     1    93    70    31     0  30.4  0.315   23      0

[768 rows x 9 columns]

First, let's clearly define which columns will act as explanatory variables, and which column will be the target value, and split the dataset between your training data and testing data. Let's try an 80-20 split.

In [0]:
## Your code here

Let's now start building our predict function. Our predict function will have four parameters: a training and testing dataset for explanatory variables, a training dataset for the target variable, and some number of neighbors "k".

But before we get ahead of ourselves, let's compute the euclidean distance between the “new” observation and all the data points in the training set, and have it sorted, too. (Hint: use the one you just made!)

In [0]:
def predict(x_training,y_training,x_testing,k):
  distances=[]
  ## Your code here

In our now sorted list of distances, it makes it easier to grab the K nearest neighbors (first K distances), and get their associated labels, which we should store in a targets array.

In [0]:
targets=[]
## Your code here

Using the function Counter from the module collections, we can now find the most common target among the values in our target array.

In [0]:
from collections import Counter

c=Counter(targets)
return c.most_common()[0][0]

Finally, let's make a knn function that  loops over all the observations in our testing data and creates predictions.

In [0]:
def knn(x_training, y_training, x_testing, predictions, k):
	## Your code here

Now equipped with our predicted values and actual values for the target variables,  all that's left to do is to create a metric to quantify how well the knn model did. We can do this in terms of accuracy, which is: the number of correctly predicted values over the total number of predictions.

In [0]:
def accuracy(x_testing,predictions):
  ##Your code here

# Using sklearn to speed up normalizing and distance finding

Luckily for us, sklearn has some quick and easy functions for normalizing the data, finding Euclidean distances, training, and testing with k-NNA. Try k = 5 to start.

In [0]:
# columns we will use to make predictions with
x_cols = ['preg', 'plas', 'pres', 'skin', 'test', 'mass', 'pedi', 'age']

# column that we want to predict
y_col = ['class']

# Create Model with k nearest neighbors
knn = KNeighborsRegressor(n_neighbors=5)

# Train/fit model with training data
knn.fit(data[x_cols], data[y_col])

# Make predictions on the test data using the fitted model
predictions = knn.predict(data[x_cols])

# Computing Error

Now that we have our predictions, we can see how close they are to the real data. A simple and common way to compute error is with mean square error (MSE). In the MSE formula below, n is the number of data points, Yi is the predicted value, and Yhat is the truth value for the data point i.

![alt text](https://cdn-images-1.medium.com/max/800/1*20m_U-H6EIcxlN2k07Z7oQ.png)

In the cell below, calculate MSE for our predictions.

In [0]:
## Your code here

You should get MSE = 0.133958 points. What does this number mean? It literally means that the mean of the raw error for each class prediction squared is 0.133958. For this number to be useful, we need to be able to compare it to other MSE measurements from a prediction set generated by a different model.

Spend a few minutes trying to lower the MSE as much as you can by changing k and the features of the data you are using to predict values.

* What set of features and values of k did you find to be the most optimal?
* Why is choosing the right features so important for prediction accuracy? 
* How might we use non-numerical data columns in our model (if we had any)?

# Pros and Cons of k-NNA

## Pros
* Non-parametric (can be used with data that does not fit a normal distribution)
* Conceptually simple and relatively simple to instantiate
* Little to no "training" time (unlike neural networks)
* A good starting point/baseline classifier 

## Cons
* Slow "testing" phase compared to other predictors/classifiers 
* Degrades with high-dimension data (because there is less difference between closest and furthest neighbors)
* Doesn't handle data with skewed class distribution well (if one class is extremely dominant in the training data, it will dominate the "voting majority" for classifying new data)

---



From these exercises and the pros and cons listed above, here is when it is most useful to use k-NNA:
* Datasets with many data points and few dimensions (but can become very slow as well)
* Datasets that are non-parametric
* When you want a quick and easy classifier that does not have to be optimal (perhaps to use as a baseline for other models)


Lastly, there are many other types of NNAs and there are many other ways to instantiate the k-NNA. For example, we could have used a weighted voting system (nearer neighbors vote's carry more weight) instead of a majority voting system to classify. Additionally, we could have used a different distance measurement or a different error measurement.